<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {{> header}}
    <!-- we can pass to argument for hbs helpers function {{screamIt someText1 someTxt2}}  -->
    <p>{{screamIt someText}}</p>
    {{> footer}}
</body>
</html>